body {
    background-color: #97defc;
    color: #581845;
    font-family: 'Mochiy Pop One', sans-serif;
}

.content {
    width: 800px;
    margin: 0 auto;
}

.raise {
    box-shadow: 10px 10px 50px #6a9bb0,
        -10px -10px 100px #f5fcff;
    border-radius: 10px;
}

.sink {
    box-shadow: inset 10px 10px 50px #6a9bb0,
        inset -10px -10px 100px #f5fcff;
    border-radius: 10px;
}

h1 { 
    margin: 15px;
    text-align: center;
    padding: 15px;
}

p {
    margin: 15px;
}

.cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card {
    flex: 1;
    width: 20%;
    height: 30px;
}